<style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    img {text-align: center;}
    label {text-align: center;}
</style>

    <ul>
        <li><a href="/chest-day">Chest</a></li>
        <li><a href="/leg-day">Leg</a></li>
        <li><a href="/back-day">Back</a></li>
    </ul>

    <h1>ISA'S CHALLANGE</h1>
    <h2>Ready for your challange?!</h2>
    <h2>Chest Day Workout!</h2>

    <div style="text-align:center">
        <div>
        <img src="https://i.ytimg.com/vi/SdIVEG7UeBg/maxresdefault.jpg" alt="Chest Day Boss"
        />
        </div>
        <label for="file">BOSS HEALTH:</label>
        <progress id="file" [value]=getHealth() max="100"></progress>
    </div>

<p>EX. (5x(10-15)) = 5 sets of 10-15 reps</p>

<p>Beginning of Workout</p>
<div>
    <input type="checkbox" id="workout19" name="workout19" value="5" [(ngModel)] = letCheckbox1>
    <label for="workout19">Dumbell Side Lats (5x(10-15))</label><br>
    <input type="checkbox" id="workout20" name="workout10" value="5" [(ngModel)] = letCheckbox2>
    <label for="workout20">Dumbell Chest flies (5x(10-15))</label><br>
    <input type="checkbox" id="workout21" name="workout21" value="5" [(ngModel)] = letCheckbox3>
    <label for="workout21">Flat Bench Press (5x(10-15))</label><br>
    <input type="checkbox" id="workout22" name="workout22" value="5" [(ngModel)] = letCheckbox4>
    <label for="workout22">Military Press (5x(10-15))</label><br>
</div>    
<p>End of Workout</p>
<div>
    <input type="checkbox" id="workout23" name="workout23" value="5" [(ngModel)] = letCheckbox5>
    <label for="workout23">Dumbell Incline (5x(10-15))</label><br>
    <input type="checkbox" id="workout24" name="workout24" value="5" [(ngModel)] = letCheckbox6>
    <label for="workout24">Side Lats (5x(10-15))</label><br>
    <input type="checkbox" id="workout25" name="workout25" value="5" [(ngModel)] = letCheckbox7>
    <label for="workout25">Tricept Pushdowns (5x(10-15))</label><br>
    <input type="checkbox" id="workout26" name="workout26" value="5" [(ngModel)] = letCheckbox8>
    <label for="workout26">Preacher curls/Bicept Curls/Hammer Head Curls (5x(10-15))</label><br>
</div>