<div class="background">
  <div class="content">
    <div class="title">
      <span class="title__muscle">Muscle</span>
      <span class="title__quest">Quest</span>
    </div>
    <img src="assets/StartScreen/characters.png" class="character" id="character"/>
    <div class="buttons">
      <app-decorated-button
        [href]="'/levels'"
        title="Levels"
      ></app-decorated-button>
      <app-decorated-button
        [href]="'/character-screen'"
        title="Inventory"
      ></app-decorated-button>
      <app-decorated-button
        [href]="'/shop'"
        title="Shop"
      ></app-decorated-button>
      <app-decorated-button
        [href]="'/login'"
        title="Back To Login"
      ></app-decorated-button>
    </div>
  </div>
</div>
