<div class="background">
    <div class="content">
        <div class="title">
            <span class="title__muscle">Muscle</span>
            <span class="title__quest">Quest</span>
        </div>
        <img src="assets/StartScreen/MuscleGuy.png" class="character">
        <div class="buttons">
            <app-decorated-button [href]="'/levels'" title="Levels"></app-decorated-button>
            <app-decorated-button [href]="'/character-screen'" title="Inventory"></app-decorated-button>
            <app-decorated-button [href]="'/shop'" title="Shop"></app-decorated-button>
            <app-decorated-button [href]="'/settings'" title="Settings"></app-decorated-button>
        </div>
    </div>
</div>