<!DOCTYPE html>
<div class="GymBackground">
  <div class="fancyText">
    <img
      src="assets/StartScreen/Text-Muscle.png"
      alt="muscletext"
      class="text-muscle"
    />
    <img
      src="assets/StartScreen/Text-Quest.png"
      alt="questtext"
      class="text-quest"
    />
  </div>
  <img src="assets/StartScreen/MuscleGuy.png" alt="GymGuy" class="guy" />
  <div class="grow">
    <button class="Levels" [routerLink]="['/levels']" id="Levels"></button>
  </div>
  <div class="grow">
    <button
      class="Character"
      [routerLink]="['/character-screen']"
      id="Character"
    ></button>
  </div>
  <div class="grow">
    <button class="Shop" [routerLink]="['/shop']" id="Shop"></button>
  </div>
  <div class="grow">
    <button
      class="Settings"
      [routerLink]="['/inventory']"
      id="Settings"
    ></button>
  </div>
</div>
