@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes slideFromLeft{
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideToRight {
    from {

    }

    to {
        transform: translateX(300px);
        opacity: 0;
    }
}
@keyframes apear {
    from {
        display: none;
    }

    to {
        display: block;
    }
}
@keyframes disapear {
    from {
        display: block;
    }

    to {
        display: none;
    }
}

@keyframes slideFromTop {
    from{
        transform: translateY(-300px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeIn {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}
@keyframes fadeOut {
    from {
        opacity:1;
    }

    to {
        opacity:0;
    }
}

html {
    overflow:hidden;
}

.disapear {
    animation: disapear 0s 0.8s forwards;
}
.apear {
    animation: apear 0.1s 0.8s forwards;
}



.fadeIn{
    animation: fadeIn 0.8s 0.8s ease-in forwards;
}
.fadeOut{
    animation: fadeOut 0.8s 0.5s ease-out forwards;
}
.slideFromLeft {
    animation: slideFromLeft 0.8s ease-in forwards;
}
.slideToRight {
    animation: slideToRight 0.8s ease-out forwards;
}
.wait1s {
    animation: disapear 1s forwards;
}

.background {
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

// logo

.logoContainer {
    //border: 5px solid white;
    width: 400px;
    height: 300px;
    left: 10%;
    top: 10%;
    position: absolute;
    opacity: 0;
}

.logo {

    color: white;
    position: relative;
    top: 60px;
    left: 80px;
    margin:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    line-height: 1.4em;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

//levels

.levelContainer {
    display:none;
    //border: 5px solid white;
    height: 600px;
    width: 500px;
    position: absolute;
    left: calc(50%);
    top: calc(50% - 250px);
}

.level[open] {
    animation-name: slideFromLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    display: block;
    position: relative;
    //border: 5px solid green;
    height: calc((100% - 80px)/4);
    width: 450px;
    margin: 20px;
    text-align: center;
    opacity: 0;
    border-radius: 2%;
}

.level[closed] {
    animation-name: slidetoRight;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.levelText{
    display: inline-block;
    color: white;
    position: relative;
    top: 10px;
    margin:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align:center;
    line-height: 1.4em;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.levelPurple {
    animation-delay: 0s;
    background-color: rgb(195, 19, 195);
    box-shadow: 
        0px 0px 20px 2px rgb(239, 170, 243),
        inset 0px 0px 10px 1px rgb(255, 255, 255);
}
.levelOrange {
    animation-delay: 0.05s;
    background-color: rgb(225, 152, 6);
    box-shadow: 
        0px 0px 20px 2px rgb(233, 210, 104),
        inset 0px 0px 10px 1px rgb(255, 255, 255);
}
.levelCyan {
    animation-delay: 0.1s;
    background-color: rgb(7, 243, 223);
    box-shadow: 
        0px 0px 20px 2px rgb(161, 198, 215),
        inset 0px 0px 10px 1px rgb(255, 255, 255);
}
.levelBack {
    animation-delay: 0.15s;
    position:relative;
    //border: solid white;
    height: 100px;
    width: 200px;
    text-align: center;
    opacity:0;
    margin:20px;
    background-color: rgb(3, 158, 29);
    box-shadow: 
        0px 0px 20px 2px rgb(9, 246, 9),
        inset 0px 0px 10px 1px rgb(255, 255, 255);
}



// options
.optionContainer{
    //border: 5px solid white;
    height: 600px;
    width: 500px;
    position: absolute;
    left: calc(50%);
    top: calc(50% - 250px);
}
.optionText {
    //border: 5px solid white;
    color: white;
    position: relative;
    margin:10px;
    left: 20px;
    top: calc(50% - 10px);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    pointer-events: none;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.option[open] {
    //border: 5px solid white;
    animation-name: slideFromLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    display: block;
    height: calc((100% - 50px)/4);
    margin: 10px;
    width: 450px;
    border-radius: 2%;
    transition: 
        width 0.3s
        display 0.8s;
}
.option:hover {
    width: 600px;
}

.option[closed]{
    animation-name: slideToRight;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transition: display 0.8s;
}

.optionRed {
    animation-delay: 0s;
    background-color: rgb(234, 7, 7);
    box-shadow: 
        0px 0px 20px 2px rgb(221, 143, 143),
        inset 0px 0px 10px 1px rgb(255, 255, 255);
} 
.optionGreen {
    animation-delay: 0.05s;
    position: relative;
    left: 30px;
    background-color: rgb(29, 217, 108);
    box-shadow: 
        0px 0px 20px 2px rgb(108, 190, 123),
        inset 0px 0px 10px 1px rgb(255, 255, 255)
}
.optionBlue {
    animation-delay: 0.1s;
    position: relative;
    left: 60px;
    background-color: rgb(15, 84, 224);
    box-shadow: 
        0px 0px 20px 2px rgb(118, 166, 232),
        inset 0px 0px 10px 1px rgb(255, 255, 255)}
.optionYellow {
    animation-delay: 0.15s;
    position: relative;
    left: 80px;
    background-color: rgb(229, 236, 10);
    box-shadow: 
        0px 0px 20px 2px rgb(248, 252, 1),
        inset 0px 0px 10px 1px rgb(255, 255, 255)
}
// .dumbell {
//     position:absolute;
//     top:50%;
//     left:50%;
//     border: 5px solid white;
//     & .piece1 {
//         background-color: purple;
//         top:50%;
//         flex:1;
//         width: 50px;
//         height: 25px;
//     }
//     & .piece2 {
//         background-color: purple;
//         flex:1;
//         width: 50px;
//         height: 100px;
//     }
// }


// @keyframes slideFromLeft{
//     from {
//         transform: translateX(-500px);
//     }

//     to {
//         transform: translateX(0px);
//         opacity: 1;
//     }
// }

// @keyframes hoverZoom {
//     from{
//         transform: scale(1);
//     }

//     to {
//         transform: scale(1.1, 1.1);
//     }
// }

// .Levels {
//     top: 140px;
//     left: 760px;
//     width: 500px;
//     height: 250px;
//     opacity:0;
//     border: 0px;
//     animation: slideFromLeft 0.5s ease-out both;
//     background: url(../../assets/StartScreen/Levels-Logo.png) no-repeat;
//     background-size: 100% 100%;
//     position:absolute;

// }
// .Levels:hover{
//     background: url(../../assets/StartScreen/Levels-Logo-Clicked.png) no-repeat;
//     background-size: 100% 100%;
//     position: absolute;
// }
// .Character {
//     opacity:0;
//     animation: slideFromLeft 0.5s 0.05s ease-out forwards;
//     top: 260px;
//     left: 800px;
//     width: 500px;
//     height: 250px;
//     background: url(../../assets/StartScreen/Character-Logo.png) no-repeat;
//     border: 0px;
//     background-size: 100% 100%;
//     position: absolute;
// }
// .Character:hover {
//     width: 500px;
//     height: 250px;
//     background: url(../../assets/StartScreen/Character-Logo-Clicked.png) no-repeat;
//     background-size: 100% 100%;
//     position: absolute;
// }
// .Shop {
//     opacity:0;
//     animation: slideFromLeft 0.5s 0.1s ease-out forwards;
//     top: 380px;
//     left: 840px;
//     width: 500px;
//     height: 250px;
//     background: url(../../assets/StartScreen/Shop-Logo.png) no-repeat;
//     border: 0px;
//     background-size: 100% 100%;
//     position: absolute;
// }
// .Shop:hover {
//     width: 500px;
//     height: 250px;
//     background: url(../../assets/StartScreen/Shop-Logo-Clicked.png) no-repeat;
//     background-size: 100% 100%;
//     position: absolute;
// }
// .Settings {
//     opacity:0;
//     animation: slideFromLeft 0.5s .15s ease-out forwards;
//     top: 500px;
//     left: 880px;
//     width: 500px;
//     height: 250px;
//     background: url(../../assets/StartScreen/Settings-Logo.png) no-repeat;
//     border: 0px;
//     background-size: 100% 100%;
//     position: absolute;
// }
// .Settings:hover {
//     width: 500px;
//     height: 250px;
//     background: url(../../assets/StartScreen/Settings-Logo-Clicked.png) no-repeat;
//     background-size: 100% 100%;
//     position: absolute;
// }
// .grow{
// }
// .grow:hover{
//     animation: hoverZoom .2s ease-in-out forwards;
// }

// .GymBackground {
//     position:relative;
//     height: 100vh;
//     width: 100vw;
//     background: url(../../assets/StartScreen/GymBackground.jpeg) no-repeat;
//     background-size:100vw 100vh;
//     & .guy {
//         position:absolute;
//         top: 150px;
//         left: 200px;
//         height: 600px;
//         width: 250px;
//     }
    
   

// }

// .fancyText{
//     & .text-muscle {
//         left: 440px;
//         top: 140px;
//         position:absolute;
//         width: 350px;
//         height: 100px;
       
//     }

//     & .text-quest {
//         position:absolute;
//         left: 450px;
//         top: 230px;
//         width: 350px;
//         height: 100px;
//     }
// }


