<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{ equipmentBonus }}
    {{ elementBonus }}
    {{ score }}
    {{ finalScore }}
    Gold: {{ lootBundle[0] }} Wood: {{ lootBundle[1] }} Iron:
    {{ lootBundle[2] }}
    <button type="button" (click)="resetScore()">Close</button>
  </body>
</html>
