
<style>
    h1 {text-align: center;}
    h2 {text-align: center;}
</style>


<ul>
    <li><a href="/chest-day">Chest</a></li>
    <li><a href="/leg-day">Leg</a></li>
    <li><a href="/back-day">Back</a></li>
</ul>

    <h1>ISA'S CHALLANGE</h1>
    <h2>Ready for your challange?!</h2>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d8dc3eda-fc1a-4cbb-b8a9-d7c36f8d1499/d7ky1hd-b5416807-f04c-42bb-b60c-185807b0dc1f.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q4ZGMzZWRhLWZjMWEtNGNiYi1iOGE5LWQ3YzM2ZjhkMTQ5OVwvZDdreTFoZC1iNTQxNjgwNy1mMDRjLTQyYmItYjYwYy0xODU4MDdiMGRjMWYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.OdrVU15cmNBP2Er0X3-AM3g3_93rsnZLItGRMbKqR9g" alt="Level Boss"
    width="800"
    height="600"
    />
    <div style="text-align:center">
        <label for="file">BOSS HEALTH:</label>
        <progress id="file" [value]=getHealth() max="100"> 32% </progress>
    </div>


<h2>Leg Day Workout!</h2>
<p>EX. (5x(10-15)) = 5 sets of 10-15 reps</p>
<p>Beginning of Workout</p>
<div>
    <input type="checkbox" id="workout1" name="workout1" value="5" [(ngModel)] = letCheckbox1>
    <label for="workout1">Sumo Dead Lifts (5x(10-15))</label><br>
    <input type="checkbox" id="workout2" name="workout2" value="5" [(ngModel)] = letCheckbox2>
    <label for="workout2">Conventional Dead Lifts (5x(10-15))</label><br>
    <input type="checkbox" id="workout3" name="workout3" value="5" [(ngModel)] = letCheckbox3>
    <label for="workout3">Conventional Squats/Smith Machine Squats (5x(10-15))</label><br>
</div>    
<p>End of Workout</p>
<div>
    <input type="checkbox" id="workout4" name="workout4" value="5" [(ngModel)] = letCheckbox4>
    <label for="workout4">Globin Squats (5x(10-15))</label><br>
    <input type="checkbox" id="workout5" name="workout5" value="5" [(ngModel)] = letCheckbox5>
    <label for="workout5">Angled Leg Press (5x(10-15))</label><br>
</div>