<div class="body">
    <div class="daily-quests">
        <div class="back" (click)="goBack()">
            Back
        </div>
        <!-- three states to each quest: 0 unclaimed, 1 in progress, 2 complete, 3 reward claimed -->
        <mat-card class="daily-quest" *ngFor="let quest of quests; index as i; first as isFirst">
            <mat-card-header>
                <mat-card-title>Rank {{quest.rank + 1}} Quest #{{i+1}}</mat-card-title>
            </mat-card-header>
            <mat-card-content *ngIf="quest.state==0 || quest.state==1">
                <p>{{quest.start}}</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-content *ngIf="quest.state==3 || quest.state==2">
                <p>{{quest.end}}</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-content *ngIf="quest.state==1">
                <h3>In order to defeat this monster you must complete:</h3>
                <h3>{{quest.exercise}}</h3>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-content *ngIf="quest.state==2">
                <h3>You Earn:</h3>
                <h3>{{quest.resources[0]}} gold, {{quest.resources[1]}} wood, and {{quest.resources[2]}} iron</h3>
                <h3>{{quest.reward.display_name}}</h3>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button color="primary" mat-raised-button *ngIf="quest.state==0" (click)="update_state(i, 1)">Accept Quest!</button>
                <button color="primary" mat-raised-button *ngIf="quest.state==1" (click)="update_state(i, 2)">Exercise Complete!</button>
                <button color="primary" mat-raised-button *ngIf="quest.state==2" (click)="claim_reward(i)">Claim Reward!</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>