<p>
  Please take a look at the Firestore section on the firebase console to see
  user data be updated
</p>

<p>
  The simplest way to interact with the database is to load the user data and
  assign it to a variable. Perform operations on the variable, such as adding
  items, and then save that object to the database.
</p>
<button (click)="giveRandomItem()">Give Level One Item</button>
<button (click)="giveRandomLootBundle()">Give Level One Loot Bundle</button>
<button (click)="removeFirstItem()">Remove First Item</button>
<button (click)="getUserData()">Get user data</button>
<button (click)="saveData()">
  Generate a random item and equip it to the user
</button>
