<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <button type="button" (click)="goBack()">Go Back</button>
    <h1>{{ title }}</h1>

    <div class="intro-container">
      <p>
        Prepare to win the battle against one of life's greatest foes: time
        itself!
      </p>
      <p>
        Here you will be presented with various tasks which you must perform for
        a given amount of time.
      </p>
      <p>
        <strong
          >For the best experience, please have your sound turned on.
        </strong>
      </p>
    </div>

    <hr />

    <div class="instructions" *ngIf="showRules; else hideRules">
      <h4>Tips:</h4>
      <ul>
        <li>
          Choose an exercise, and hit the "start" button to begin the countdown.
        </li>
        <li>
          When the timer approaches zero, you will hear a woman counting down
          from ten. This is your chance to get in one or two perfect reps!
        </li>
        <li>
          Favor quality over quantity: it's better to do a few good reps than a
          lot of bad ones.
        </li>
      </ul>

      <button (click)="toggleRules()">Hide Rules</button>
    </div>
    <ng-template #hideRules>
      <button (click)="toggleRules()">Show Rules</button>
    </ng-template>

    <hr />

    <label for="workout-options">
      Please choose an exercise from the list:
    </label>
    <select
      name="workout-options"
      id="workout-options"
      (change)="onWorkoutSelected($event)"
    >
      <option *ngFor="let option of options">
        {{ option }}
      </option>
    </select>

    <div [ngSwitch]="selected" *ngIf="showExample; else hideExample">
      <img
        *ngSwitchCase="'pushups'"
        src="../../assets/gifs/pushups.gif"
        alt="pushups"
      />
      <img
        *ngSwitchCase="'crunches'"
        src="../../assets/gifs/crunches.gif"
        alt="crunches"
      />
      <img
        *ngSwitchCase="'jumprope'"
        src="../../assets/gifs/jumprope.gif"
        alt="jumprope"
      />
      <img
        *ngSwitchCase="'burpees'"
        src="../../assets/gifs/burpees.gif"
        alt="burpees"
      />
      <img
        *ngSwitchDefault
        src="../../assets/gifs/default.gif"
        alt="Man exercising"
      />
      <button (click)="toggleExample()">Hide Example</button>
    </div>

    <ng-template #hideExample>
      <button (click)="toggleExample()">Show Example</button>
    </ng-template>

    <hr />

    <button (click)="countDown()">Start Timer</button>
    <audio #countDownAudio>
      <source src="../../assets/sounds/countdown1.wav" type="audio/mpeg" />
    </audio>
    <div>{{ count }}</div>
  </body>
</html>
