<style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    img {text-align: center;}
    label {text-align: center;}
</style>

    <h1>ISA'S CHALLANGE</h1>
    <h2>Ready for your challange?!</h2>
    <img src="https://i.ytimg.com/vi/SdIVEG7UeBg/maxresdefault.jpg" alt="Chest Day Boss"
    width="1000"
    height="600"
    />
    <div style="text-align:center">
        <label for="file">BOSS HEALTH:</label>
        <progress id="file" value="100" max="100"> 32% </progress>
    </div>

<nav>
    <a class="button"
        routerLink="/chest-day"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Chest Day
    </a> |
    <a class="button"
        routerLink="/leg-day"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Leg day
    </a> |
    <a class="button"
        routerLink="/back-day"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Back day
    </a>
</nav>
<h2>Chest Day Workout!</h2>
<p>Beginning of Workout</p>
<div>
    <input type="checkbox" id="workout19" name="workout19" value="5">
    <label for="workout19">Dumbell Side Lats</label><br>
    <input type="checkbox" id="workout20" name="workout10" value="5">
    <label for="workout20">Dumbell Chest flies</label><br>
    <input type="checkbox" id="workout21" name="workout21" value="5">
    <label for="workout21">Flat Bench Press</label><br>
    <input type="checkbox" id="workout22" name="workout22" value="5">
    <label for="workout22">Military Press</label><br>
</div>    
<p>End of Workout</p>
<div>
    <input type="checkbox" id="workout23" name="workout23" value="5">
    <label for="workout23">Dumbell Incline</label><br>
    <input type="checkbox" id="workout24" name="workout24" value="5">
    <label for="workout24">Side Lats</label><br>
    <input type="checkbox" id="workout25" name="workout25" value="5">
    <label for="workout25">Tricept Pushdowns</label><br>
    <input type="checkbox" id="workout26" name="workout26" value="5">
    <label for="workout26">Preacher curls/Bicept Curls/Hammer Head Curls</label><br>
</div>