<html>
    <body>
      <div class="Container">
        <div class="equipped" id="equipped">
          <div class="equipSlot" id="head">
            <img class="equipSlotImage" *ngIf="equipped.head" [src]="getIconImage(equipped.head)" />
          </div>
          <div class="equipSlot" id="chest">
            <img class="equipSlotImage" *ngIf="equipped.chest" [src]="getIconImage(equipped.chest)" />
          </div>
          <div class="equipSlot" id="hands">
            <img class="equipSlotImage" *ngIf="equipped.hands" [src]="getIconImage(equipped.hands)" />
          </div>
          <div class="equipSlot" id="feet">
            <img class="equipSlotImage" *ngIf="equipped.feet" [src]="getIconImage(equipped.feet)" />
          </div>
          <div class="equipSlot" id="weapon">
            <img class="equipSlotImage" *ngIf="equipped.weapon" [src]="getIconImage(equipped.weapon)" />
          </div>
        </div>
        <div class="characterContainer"></div>

        <div class="resourceContainer">
          <div class="resource">
            <img class="bg" src="assets/CharacterScreen/ResourceBar.png"/>
            <img class="icon" src="assets/CharacterScreen/GoldIcon.png"/>
            <div class="resourceText text">{{getUserData().gold}}</div>
          </div>
          <div class="resource">
            <img class="bg" src="assets/CharacterScreen/ResourceBar.png"/>
            <img class="icon" src="assets/CharacterScreen/WoodIcon.png"/>
            <div class="resourceText text">{{getUserData().wood}}</div>
          </div>
          <div class="resource">
            <img class="bg" src="assets/CharacterScreen/ResourceBar.png"/>
            <img class="icon" src="assets/CharacterScreen/IronIcon.png"/>
            <div class="resourceText text">{{getUserData().iron}}</div>
          </div>
        </div>
        <div class="inventoryContainer" id="inventory">
          <div *ngFor="let item of getUserData().items; let i = index" (click)="equipItem(item)" class="slot" [attr.id]="i">
            <img class="slotImage" [attr.id]="i" [src]="getIcon(i)"/>
          </div>
        </div>
      </div>  
    </body>
</html>
