<html>
    <body> 
      <div class="Container" >  
        <!-- <button (click)="createItem()"></button> -->
        <div class="characterStats" id="characterStats">
          <ul class="playerStats">
            <li>Strength: {{playerStats.strength}}</li>
            <li>Dexterity: {{playerStats.dexterity}}</li>
            <li>Fire Affinity: {{playerStats.fireAffinity}}</li>
            <li>Ice Affinity: {{playerStats.iceAffinity}}</li>
            <li>Lighting Affinity: {{playerStats.lightningAffinity}}</li>
          </ul>
        </div>
        <div class="back" [routerLink]="['/start']">
          <div class="text" >&times;</div>
        </div>
        <div class="trash {{mode}}" (click)="changeMode()">
          <img src="assets/CharacterScreen/trashcan.png" alt="" />
        </div>
        <div class="compareContainer" id="compareContainer" >
          <div class="statsContainer" [ngStyle]="{'border': getCompareBorder()}" id="statsContainer" >
            <div class="name">{{currItem.name}}</div>
            <ul class="stats">
              <li>Strength: <span [style.color]="currItem.strength_color">{{currItem.strength}}</span></li>
              <li>Dexterity: <span [style.color]="currItem.dexterity_color">{{currItem.dexterity}}</span></li>
              <li>Element: <span class="compareText">{{currItem.element}}</span></li>
              <li>Material: <span class="compareText">{{currItem.material}}</span></li>
            </ul> 
          </div>
          <div class="equippedStatsContainer" id="equippedStatsContainer">
            <div class="name">{{currEquipped.name}}</div>
            <ul class="stats">
              <li>Strength: {{currEquipped.strength}}</li>
              <li>Dexterity: {{currEquipped.dexterity}}</li>
              <li>Element: {{currEquipped.element}}</li>
              <li>Material: {{currEquipped.material}}</li>
            </ul>
          </div>
        </div>
        <div class="equipped" id="equipped">
          <div class="equipSlot helmet"  (click)="unEquip(UserData?.equipped?.head)">
            <img class="equipSlotImage"  [src]="getEquippedIcon(UserData?.equipped?.head)" />
          </div>
          <div class="equipSlot chestplate"  (click)="unEquip(UserData?.equipped?.chest)">
            <img class="equipSlotImage" [src]="getEquippedIcon(UserData?.equipped?.chest)" />
          </div>
          <div class="equipSlot gloves" (click)="unEquip(UserData?.equipped?.hands)">
            <img class="equipSlotImage"  [src]="getEquippedIcon(UserData?.equipped?.hands)" />
          </div>
          <div class="equipSlot boots" (click)="unEquip(UserData?.equipped?.feet)">
            <img class="equipSlotImage"  [src]="getEquippedIcon(UserData?.equipped?.feet)" />
          </div>
          <div class="equipSlot weapon" (click)="unEquip(UserData?.equipped?.weapon)">
            <img class="equipSlotImage"  [src]="getEquippedIcon(UserData?.equipped?.weapon)" />
          </div>
        </div>
        <div class="resourceContainer">
          <div class="resource gold">
            <div class="text">{{UserData?.gold}}</div>
          </div>
          <div class="resource wood">
            <div class="text">{{UserData?.wood}}</div>
          </div>
          <div class="resource iron">
            <div class="text">{{UserData?.iron}}</div>
          </div>
        </div>
        <div class="inventoryContainer" id="inventory">
          <div  *ngFor="let item of UserData?.items; let i = index" (click)="mode == 'normal' ? equip(item) : deleteItem(item)" (mouseover)="updateStats(item)" (mouseleave)="onMouseLeave()" [ngStyle]="{'box-shadow': getBoxShadow(item)}" class="slot" [attr.id]="i">
            <img class="slotImage" [attr.id]="i" [src]="getIcon(i)"/>
          </div>
        </div>
      </div>  
    </body>
</html>
