<html>
    <body>
        <div class="character"></div>
        <div class="equipped">
            <div class="equipment">
                <img class="equipmentIcon" id="helmetIcon"/>
            </div>
            <div class="equipment">
                <img class="equipmentIcon" id="chestplateIcon"/>
            </div>
            <div class="equipment">
                <img class="equipmentIcon" id="glovesIcon"/>
            </div>
            <div class="equipment">
                <img class="equipmentIcon" id="bootsIcon"/>
            </div>
            <div class="equipment">
                <img class="equipmentIcon" id="weaponIcon"/>
            </div>
        </div>
        <div class="resourceContainer">
            <div class="resource">
                <div class="text">{{getUserData().gold}}</div>
                <img class="icon" src="assets/CharacterScreen/GoldIcon.png"/>
                <img class="resourceBG" src="assets/CharacterScreen/ResourceBar.png"/>
            </div>
            <div class="resource">
                <div class="text">{{getUserData().wood}}</div>
                <img class="icon" src="assets/CharacterScreen/WoodIcon.png"/>
                <img class="resourceBG" src="assets/CharacterScreen/ResourceBar.png"/>
            </div>
            <div class="resource">
                <div class="text">{{getUserData().iron}}</div>
                <img class="icon" src="assets/CharacterScreen/IronIcon.png"/>
                <img class="resourceBG" src="assets/CharacterScreen/ResourceBar.png"/>
            </div>
        </div>
        <div class="inventory" id="inventory">
            <div *ngFor="let item of getUserData().items; index as i" >
                <div class="slot" id={{i}}></div>
            </div>
        </div>

    </body>
</html>
